*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --winning-blocks: rgb(0, 240, 56);
}

body{
    font-size: 25px;
}

.container{
 
    padding: 40px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#board{
    
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box{
   
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-left: 2px solid;
    border: 2px solid white;
    color: white;
}

button{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    transition: 200ms transform;
    font-weight: 600;
}

button:hover{
    cursor: pointer;
    transform: translateY(-2px);
}