<!DOCTYPE html>
<html>
<head>
    <title>We are Games Math Cool</title>
</head>
<body>
    <h1 style = "color: white"> About Us </h1>
    <h2 style = "color: white">Games Math Cool is a complete knock off of Cool Math Games. Our website steals the same concept of having many easy to play games 
        at your disposal. We have many many many single and multiplayer games which you can find on our home page. Games Math Cool put 
        their blood sweat and tears into creating a website so that you can spend every waking second playing these "difficult" games. This website 
        isn't just a website. It's symbolic of the unity, passion, and perseverance each of our users hold. We don't think of our users as just 
        player 1, 2 or 3. We think of them as family and the sacrifice each of them made to play our games. Thank you and good night America! 
    </h2>
    <h1 style = "color: white"> Credits </h1>
    <h2 style = "color: white"> Special thanks to all the tools and videos that we've used along the way!
            - ChatGPT
            - @Kenny Yip Coding on youtube 
            - @Coding With Adam on youtube
            - @Coding With Siphiwo on youtube 
    </h2>
</body>
</html>