<!DOCTYPE html>
<html>

<head>
    <title>Connect Four</title>
    <link rel="stylesheet" type="text/css" href="../static/css/connect4.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/connect4.js"></script>
</head>

<body>
    <section class="hero">
        <div class="main-width">
            <header>
                <div class="logo">
                    <h2><a href="/"><img src="../static/img/mathcoolgames.png"></a></h2>
                </div>

                <nav>
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li class="active"><a href="/games">GAMES</a></li>
                        <li><a href="/about">INSIGHTS</a></li>
                        <li><a href="#">SUPPORT</a></li>
                    </ul>
                </nav>
            </header>
            <h1 style = "color: white;">Connect 4</h1>
            <h2 id="winner"></h2>
            <div id="board"></div>
            <br>
            <button id="restart">Restart</button>
        </div>
    </section>
</body>
<footer class="main-footer">
    <p>&copy; 2023 Math Cool Games. All rights reserved.</p>
</footer>

</html>