<!DOCTYPE html>
<html>

<head>
    <title>Flappy Bird</title>
    <link rel="stylesheet" type="text/css" href="../static/css/flappy.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

<body>
    <section class="hero">
        <div class="main-width">
            <header>
                <div class="logo">
                    <h2><a href="/"><img src="../static/img/mathcoolgames.png"></a></h2>
                </div>

                <nav>
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li class="active"><a href="/games">GAMES</a></li>
                        <li><a href="/about">INSIGHTS</a></li>
                        <li><a href="#">SUPPORT</a></li>
                    </ul>
                </nav>
            </header>
            <canvas id="gameCanvas" width="400" height="600"></canvas>
            <button id="startButton">Start New Game</button>
        </div>
    </section>
    <script src="../static/js/flappy.js"></script>
</body>


</html>