<!DOCTYPE html>
<html>

<head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" type="text/css" href="../static/css/rps.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <section class="hero">
        <div class="main-width">
            <header>
                <div class="logo">
                    <h2><a href="/"><img src="../static/img/mathcoolgames.png"></a></h2>
                </div>

                <nav>
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li class="active"><a href="/games">GAMES</a></li>
                        <li><a href="#">INSIGHTS</a></li>
                        <li><a href="#">SUPPORT</a></li>
                    </ul>
                </nav>
            </header>
            <div class="container" style="position:relative; right:-300px">
            <h1 style = "color:white">Rock Paper Scissors</h1>
            <div class="score">
                <h3 style = "color:white">Player Score: {{ player_score }}</p>
                    <h3 style = "color:white">Computer Score: {{ computer_score }}</p>
            </div>
            <form action="/rps" method="POST">
                <div class="choices">
                    <input type="radio" id="rock" name="choice" value="rock">
                    <label for="rock" class="choice-label"><img src="../static/img/rock.jpg" alt="Rock"
                            class="choice-image"></label>

                    <input type="radio" id="paper" name="choice" value="paper">
                    <label for="paper" class="choice-label"><img src="../static/img/paper.jpg" alt="Paper"
                            class="choice-image"></label>

                    <input type="radio" id="scissors" name="choice" value="scissors">
                    <label for="scissors" class="choice-label"><img src="../static/img/scissors.jpg" alt="Scissors"
                            class="choice-image"></label>
                </div>
                <input type="submit" value="Play">
            </form>
            {% if result %}
            <div class="result" style="color:white;">
                <h2 style = "color:white">{{ result }}</h2>
                <p style = "color:white">You chose: {{ player_choice }}</p>
                <p style = "color:white">Computer chose: {{ computer_choice }}</p>
                <a href="/rps" style = "color:white" class="play-again">Play Again</a>
            </div>
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th style = "color:white">Game Number</th>
                        <th style = "color:white">Player Choice</th>
                        <th style = "color:white" >Result</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results[::-1] %}
                    <tr>
                        <td style = "color:white" >{{ loop.revindex }}</td>
                        <td style = "color:white" >{{ result[0] }}</td>
                        <td style = "color:white" >{{ result[2] }}</td>
                        <td style = "color:white">{{ result[3] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </section>
</body>
<footer class="main-footer">
    <p>&copy; 2023 Math Cool Games. All rights reserved.</p>
</footer>

</html>